.gold-title {
    color: #bb9c66;
    font-family: $cer;
    font-size: 40px;
    font-weight: 400;
}

// ==============================================================================================================================================
.btn {
    padding: 14px 30px;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    border: 3px solid $gold;
}
// ==============================================================================================================================================

// ==============================================================================================================================================
.decor-block {
    height: 60px;
    display: flex;
    width: 100%;
    // .decor-block__row

    &__row {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        // .decor-block__row_2

        &_2 {
            flex-direction: row-reverse;
            .decor-block__item {
                margin: 0px 6px 0px 0px;
            }
            .decor-block__item_4 {
                margin: 0px 10px 0px 0px;
            }
        }
    }

    // .decor-block__item

    &__item {
        margin: 0px 0px 0px 6px;
        display: inline-block;

        // .decor-block__item_1

        &_1 {
            margin: 0;
            flex: 1 1 auto;
            height: 1px;
            background-color: $gold;
        }

        // .decor-block__item_2

        &_2 {
            flex: 0 0 10px;
            height: 10px;
            border: 1px solid $gold;
            border-radius: 50%;
        }

        // .decor-block__item_3

        &_3 {
            flex: 0 0 12px;
            height: 12px;
            border: 1px solid $gold;
            transform: rotate(45deg);
        }

        // .decor-block__item_4

        &_4 {
            flex: 0 0 17px;
            height: 17px;
            border: 1px solid $gold;
            transform: rotate(45deg);
            margin: 0px 0px 0px 10px;
        }
    }

    // .decor-block__img

    &__img {
        margin: 0px 50px;
    }
}

// ==============================================================================================================================================
.title {
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

